.about {
  display: flex;
  flex-direction: row;
  align-content: center;
}
.contact {
  padding-left: 100px;
}
.complain {
  padding-left: 100px;
}
@media (max-width: 500px) {
  .about {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
  }
  .contact {
    padding-left: 10px;
  }
  .complain {
    padding-left: 10px;
  }
}
